In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# if the numbers in the file have commas for thousands set the argument thousands = , 
df = pd.read_csv('...csv')

In [ ]:
#Data audit

#turn ? to nan values
audit = df.replace('?', np.nan)

#copy data audit to clipboard - this shows how many nan values in each column (paste this to excel)
audit.isnull().sum().to_clipboard()

#shows overall info (opposite, shows how many non-null values)
audit.info()

In [ ]:
# value count
pd.value_counts(df.MBRSHP_LVL_CD)

In [ ]:
# Pick selected columns (  remember to use two [[   ]]   )

df = df[['example1', 'example2']]

In [ ]:
# check to see data types 
df.info()

In [ ]:
#replace values 
df[[ 'example1' ]] = df[[ 'example1' ]].replace('?', 11)

In [ ]:
#change data type for a column

df[[ 'example1' ]] = df[[ 'example1' ]].astype(np.int)

In [ ]:
#replace values to NAN 
#therefore we can drop Nan values


df[[ 'example1' ]] = df[[ 'example1' ]].replace(11, np.nan)

In [ ]:
#useful to see how many columns before dropping NAN values
df.info()

In [ ]:
#drop NAN values for every column 
#check to see how many has been lost   ---   If too many values have been lost, check data and possilble restart kernel

df_BASE_2018 = df_BASE_2018.dropna()
df_BASE_2018.info()

In [ ]:
# Sometimes date formats need to be changed to datetime64[ns]  
# this is so you can use functions such as find the month or subract dates to find days 

df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [ ]:
# example below is creating your own functon and applying it for every row of that column

def weekday(x):
    return x.weekday()

#function above finds what day of the week the date value is
#applying the weekday function to the column Date and creating a new column called weekend

df['Weekend'] = df['Date'].apply(weekday)

In [ ]:
df_BASE_2018.head()

In [ ]:
#the below method is a more complex apply function. 
#this is normally used when two columns are being used in a function. 
#Example_function is being applied of which involves example1 and example2 columns.
#becasue the function being applied to both example1 and example2 it is stated df[['example1','example2']] before the apply
#A new column called NewColumn is being created.

df['NewColumn'] = df[['example1','example2']].apply(lambda row: Example_FUNCTION(row['example1'], 
                                                                                  row['example2']), axis=1)

In [ ]:
#check if any NAN values from the function
df[df.isnull().any(axis=1)]

In [ ]:
#check how many unique example1 values
df[['example1']].nunique()

In [ ]:
#check how many unique values of two columns
#example see if there is an example1 value for each month of the year
#You should know if there is missing data from using the value previously above. e.g. value above *12
df.groupby(['example1', 'Month']).ngroups

In [ ]:
#example of filtering
df = df[df['Country'] == "UNITED KINGDOM"]

#multiple 
df[(df[Gender]=='Male') & (df[Year]==2014)]

In [ ]:
#example of renaming columns
df.rename(columns={'example1': 'Example_1'}, inplace=True)

In [ ]:
#change all column names
df = df.rename(columns=lambda x: x.replace('NBR', ''))

In [ ]:
#change all individually
df.columns = [['Month', '2018_GuestLove','2017_GuestLove', '2017 Diff']]

In [ ]:
#merging columns
#merge two files on a value 
#column names need to be the same
#column datatypes need to be the same 
#inner means no null values - different types are inner, outer, left and right

df = pd.merge(df, df1, on=['Example_1'], how='inner')

In [ ]:
#dropping columns 
df = df.drop(['example2'], axis=1)

In [ ]:
#save dataframe to csv file (error will occur if already done this and have the file open)
df.to_csv('NameOfFile.csv')

In [ ]:
#count how many different classification categories there are in the column 'Category'
pd.value_counts(df6['Category'])

In [ ]:
#pivot tables 

table1 = pd.pivot_table(df1, index = ['Property Identifier', 'Month'], 
                       values = ['Rival STR Name'], aggfunc ={'Rival STR Name':rival_brands})

In [ ]:
group_by = df.groupby(['FAC_ID', 'MO_NBR']).mean()

In [ ]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [ ]:

# Get the columns with > 50% missing
missing_df = missing_values_table(data);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

In [ ]:
data = data.drop(columns = list(missing_columns))

In [ ]:
# slice columns from middle to last  (include all rows by indicating ':' at the start)
df1 = df.loc[:, 'Middle column':'Last Column']

In [ ]:
# check to see if any values are below 12
df1 = df1[(df1 <= 12).any(axis=1)]

In [ ]:
#check for null data
df[pd.isnull(df).any(axis=1)]

In [22]:
# code to list only the same hotels in df1 and df2
hotel_list = df.groupby(['Hotel Code']).sum()
hotel_list = hotel_list.reset_index()
hotel_list = hotel_list['Hotel Code']
hotel_list = list(str(e) for e in hotel_list)
df2 = df2.loc[df2['Hotel Code'].isin(hotel_list)]

In [4]:
print(df[['Hotel Code', 'Month']].nunique())
print('Number of unique entries is:', df.groupby(['Hotel Code', 'Month']).ngroups)

Hotel Code    280
Month          12
dtype: int64
Number of unique entries is: 3360